// Colors
$clr-primary: #f4fffd;
$clr-secondary: #011936;
$clr-highlight: #f9dc5c;
$clr-warning: #ed254e;
$clr-fade: #465362;

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

// Font Sizes
$font-size-tiny: 0.6rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;

// Font Weights
$font-weight-feather: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;
