#chatroom_container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 100vh;
width: 100vw;
background-color: #465362;
margin: 0;

    #chatroom_topic {
        text-align: center;
        font-size: 40px;
        color: #F9DC5C;
    }

    .chat_content_container {
        display: flex;
        flex-direction: row;
    }

    .participant_list {
        width: 150px;
        height: fit-content;
        text-align: center;
        background-color: #011936;
        border-radius: 10px;
        color: #F9DC5C;

        h4 {
            margin: 5px 0 10px 0;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }        
        li {
            padding-bottom: 5px;
        }
    }

    .chat_right_container {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        height: 600px;
        justify-content: space-between;
        align-items: center;
    }

    .chat {
        height: 600px;
        background-color: #011936;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;

        .chat__typing {
            margin: 0;
        }


        .chat__feed {
            width: 500px;
            height:600px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow-y: scroll;

            .message {
                padding-inline: 15px;
                height: fit-content;
                margin: 0;
                color:#F4FFFD;

                h3 {
                    margin: 5px 0 10px 0;
                }

                p {
                    margin: 0;
                    word-break: break-all;
                }
            }
            .message--self {
                text-align: right;
            }
        }


        .chat__lower__container {
            display: flex;
            border-top: 2px solid #011936;

            .chat__typing {
                margin: 0;
            }

            .chat__input {
                background-color: #F4FFFD;
                border: none;
                height: 50px;
                width: 85%;
                margin: 0;
                padding: 0;
                border-bottom-left-radius: 10px;
                &:focus {
                    outline-width: 0;
                }
            }

            .chat__submit-btn {
              height: 100%;
              width: 15%;
              padding:0;
              border: solid #F9DC5C;
              border-bottom-right-radius: 10px;
              background-color: #F9DC5C;
              font-weight: bold;
            }
        }
    }

   

    .exit_button {
        background-color: #011936;
        color: #ED254E;
        width: 150px;
        height: 50px;
        font-weight: bold;
        border: solid #011936;
        border-radius: 10px;
    }
}

